@model IEnumerable<OnlineJudge.Models.TestCase>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Problem ID
            </th>
            <th>
                Problem
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Output)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Problem.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Problem.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Input)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Output)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
